*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bluecolor: #0084fd;
    --azurecolor:#b5ddff;
    --lilaccolor:#9792e4;
    --itsfeecolor:#fdc15f;
    --footercolor:#333333;
}